---
import { Header } from '../components/header/Header';
import { Container } from '../components/ui/Container';
import { FormShortener } from '../components/shortener/FormShortener';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">

	<>
    
    <Header>

    </Header>
  

      <Container as="main" className="mt-20 w-full px-4 md:w-4/5 md:mx-auto " >
        <>

          <div class="text-center">

          <h1 class="text-5xl text-center  inline-block bg-gradient-to-r from-cod-gray-400 via-indigo-200 to-indigo-500  text-transparent bg-clip-text">
            Shorten yours urls
          </h1>
          </div>
        </>
      </Container>

      <Container as="main" className="mt-20 w-full px-4 md:w-4/5 md:mx-auto">
          <FormShortener client:load></FormShortener>


        </Container>
      </H>
</Layout>

<style>
  h1{
    font-family: 'Poppins-Bold', sans-serif;
  }
</style>