---
import { Logo } from '../components/logo/Logo';
import { Container } from '../components/ui/Container';
import { FormShortener } from '../components/shortener/FormShortener';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">

	<>
  
      <Container as="header" className="flex justify-between items-center h-20 px-4  w-full md:w-4/5 md:mx-auto">
        <Logo />
        
        <ul class="flex md:gap-8 ">
          <li>Sign in</li>
          <li>Sign up</li>
        </ul>
      </Container>

      <Container as="main" className="mt-20 w-full px-4 md:w-4/5 md:mx-auto">
        <>

          <div class="text-center">

          <h1 class="text-5xl text-center font-bold inline-block bg-gradient-to-r from-text via-text to-primary  text-transparent bg-clip-text">
            Shorten yours urls
          </h1>
          </div>
        </>
      </Container>

      <Container as="main" className="mt-20 w-full px-4 md:w-4/5 md:mx-auto">
          <FormShortener client:visible></FormShortener>


        </Container>
      </>
</Layout>

<style is:global>
	

.search {
  width: 600px;
  height: 60px;
  overflow: hidden;
  position: relative;
}

.search__input {
  background-color: #f4f2f2;
  border: none;
  color: #646464;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  transition: all ease-in-out .5s;
  padding-left: .8rem;
}

.search__input:hover, .search__input:focus {
  box-shadow: 0 0 1em #00000013;
}

.search__input:focus {
  outline: none;
  background-color: #f0eeee;
}

.search__input::-webkit-input-placeholder {
  font-weight: 100;
  color: #928e8e;
}

.search__input:focus + .search__button  + .search__icon{
  fill: hsl(var(--accent));
}

.search__button {
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 10px;
  height: 100%;
  aspect-ratio: 1/1;
}

.search__button:hover {
}

.search__icon {
  height: 1.3em;
  width: 1.3em;
  color: hsl(var(--primary));
}
</style>