@tailwind base;
@tailwind components;
@tailwind utilities;


*,
*::before,
*::after {
  box-sizing: border-box;
}


:root{
  --text: 265deg  40% 6%;
  --background: 257deg 41% 97%;
  --primary: 262deg 40% 55%;
  --secondary: 58deg 40% 72%;
  --accent: 112deg 40% 64%;

}

@media screen and (prefers-color-scheme: dark) {

  :root{

    --text: 265deg 40% 94%;
    --background: 203deg 10% 16%;
    --primary: 262deg 40% 45%;
    --secondary: 58deg 40% 28%;
    --accent: 112deg 40% 36%;
  }
}

.search {
  width: 600px;
  height: 60px;
  overflow: hidden;
  position: relative;
}

.search__input {
  background-color: #f4f2f2;
  border: none;
  color: #646464;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  transition: all ease-in-out .5s;
  padding-left: .8rem;
}

.search__input:hover, .search__input:focus {
  box-shadow: 0 0 1em #00000013;
}

.search__input:focus {
  outline: none;
  background-color: #f0eeee;
}

.search__input::-webkit-input-placeholder {
  font-weight: 100;
  color: #928e8e;
}

.search__input:focus + .search__button  + .search__icon{
  fill: hsl(var(--accent));
}

.search__button {
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 10px;
  height: 100%;
  aspect-ratio: 1/1;
}

.search__button:hover {
}

.search__icon {
  height: 1.3em;
  width: 1.3em;
  color: hsl(var(--primary));
}